/* 순서를 지켜서 import하는게 중요하다!! */
/* html에서 여러개의 css를 가져오기 보다는 html에서 메인 css를 가져오고
메인 css에서 필요한 다른 css를 import해주면 더 보기좋다*/
/* 구글에서 폰트를 가져온다 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
/* 컬러 변수를 별도로 저장하고 사용하기위해 import */
@import "variables.css";
/* 반복사용되는 파트들은 별도로 관리하여 재사용 할 수 있도록 하자 */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  /* 폰트색상 */
  color: #2e363e;
  /* 해당 폰트가 없으면 그 다음 폰트를 사용한다 */
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

/* chat 페이지의 메인을 다른 페이지 페딩들과 통일 시켜주기위해 */
.main-screen {
  padding: 0px var(--horizontal-space);
}